/* 1. On modifie la classe disabled pour autoriser le survol tout en bloquant le clic */
.disabled {
    opacity: 0.3 !important;
    filter: grayscale(1) !important;
    cursor: not-allowed !important;
    position: relative; /* INDISPENSABLE pour placer l'info-bulle */
    pointer-events: auto !important; /* On réactive les événements pour le survol */
}

/* 2. On bloque les clics spécifiquement sur les éléments internes (SVG/Boutons) */
.disabled * {
    pointer-events: none !important;
}
.somfy-status-container {
    display: flex;
    align-items: center;
    gap: 1px;
}
.somfy-infoPosTilt {
    display: flex;
    flex-direction: column; /* "Pos" au dessus de "Tilt" */
    justify-content: center;
    font-family: sans-serif;
    color: var(--soustxt-color);
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
}
#valTilt {
     color: var(--color);
}


/* La sidebar est floue au démarrage */
.sidebar {
    filter: blur(8px);
    transition: filter 0.5s ease;
}

/* Elle devient nette quand la langue est là */
body.lang-loaded .sidebar {
    filter: blur(0px);
}







